// Navbar

.app-header {
  height: 70px !important;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    align-items: center !important;
  }
  .ui.top.right.pointing.dropdown>.menu:after{
    right: 1.23rem !important;
  }
  .ui.menu .ui.dropdown .menu>.item {
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(0,0,0,.1) !important;
    height: 50px !important;
    display: flex !important;
    align-items: center;
    padding: 0 .92857143em !important;
  }
  .ui.menu .ui.dropdown .menu>.item:last-child {
    border-bottom: none !important;
  }
  .menu {
    .box.icon {
      order: -1 !important;
    }
    .icon {
      display: none;
    }
    .app-toggle {
      display: none !important;
    }
    .transition {
      min-width: 162px !important;
      margin-top: 1.2rem !important;
      border-radius: 0 !important;
    }
  }
  @media (max-width: 768px) {
    display: inherit !important;
    height: auto !important;
    .menu {
      .icon {
        display: flex !important;
        margin-right: 1rem !important;
      }
      .header.item {
        padding-left: 0 !important;
        border-bottom: none !important;
      }
      .transition {
        left: 0 !important;
        margin-top: -1px !important;
        margin-left: 100% !important;
        min-width: 50% !important;
        border-bottom: none !important;
        &:after {
          top: 1.60em !important;
        }
        .item {
          height: 50px !important;
          display: flex !important;
          align-items: center !important;
          border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
          border-radius: 0 !important;
        }
        .item:last-child {
          border-bottom: none !important;
        }
      }
      .item {
        margin: 0 !important;
        border-radius: 0 !important;
        border-bottom: 1px solid rgba(255, 255, 255, .1) !important;
      }
      .app-toggle {
        display: block !important;
        button {
          background-color: rgba(255,255,255,.15) !important;
          width: 30px;
          justify-content: center;
          height: 30px;
          border-radius: .28571429rem !important;
          border-bottom: none !important;
        }
      }
    }
  }
}


// Login and Register Pages

.app-auth {
  height: calc(100vh - 70px) !important;
  .column {
    padding: 0 2rem !important;
    max-width: 450px;
    .form {
      text-align: left;
      .app-password {
        .input {
          position: relative !important;
          display: flex;
          align-items: center;
          input {
            padding-right: 2.67142857em !important;
          }
        }
        .label {
          position: absolute;
          right: 0;
          color: #fff;
          background: none;
          height: 100%;
          padding: 0 !important;
          width: 2.67142857em;
          justify-content: center;
          display: flex;
          align-items: center;
          border-radius: 0;
          i {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            border-radius: 10em;
            height: 28px;
            box-shadow: 0 0 0 0.1em rgba(0,0,0,.1) inset;
            color: rgba(144, 144, 144, 1);
            transition: all .3s;
            &:hover,
            &:active,
            &:focus {
              background-color: rgba(0,0,0,.87);
              color: #fff;
            }
          }
        }
      }
      .pointing {
          margin: 0 auto;
      }
      .error {
        margin-bottom: .25rem;
      }
    }
  }
}

// Profile Page

.app-profile {
  .menu {
    min-height: 100vh !important;
    .button.item {
      padding-left: 1.8rem !important;
    }
    .item:first-child {
      height: 150px !important;
      justify-content: center;
    }
    .item {
      border-radius: 0 !important;
      height: 50px;
      align-items: center;
      display: flex !important;
      .icon {
        margin-right: 1rem !important;
      }
    }
  }
}