.app-header {
  height: 70px !important;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-header .container {
  align-items: center !important;
}
.app-header .ui.top.right.pointing.dropdown > .menu:after {
  right: 1.23rem !important;
}
.app-header .ui.menu .ui.dropdown .menu > .item {
  border-radius: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  height: 50px !important;
  display: flex !important;
  align-items: center;
  padding: 0 0.92857143em !important;
}
.app-header .ui.menu .ui.dropdown .menu > .item:last-child {
  border-bottom: none !important;
}
.app-header .menu .box.icon {
  order: -1 !important;
}
.app-header .menu .icon {
  display: none;
}
.app-header .menu .app-toggle {
  display: none !important;
}
.app-header .menu .transition {
  min-width: 162px !important;
  margin-top: 1.2rem !important;
  border-radius: 0 !important;
}
@media (max-width: 768px) {
  .app-header {
    display: inherit !important;
    height: auto !important;
  }
  .app-header .menu .icon {
    display: flex !important;
    margin-right: 1rem !important;
  }
  .app-header .menu .header.item {
    padding-left: 0 !important;
    border-bottom: none !important;
  }
  .app-header .menu .transition {
    left: 0 !important;
    margin-top: -1px !important;
    margin-left: 100% !important;
    min-width: 50% !important;
    border-bottom: none !important;
  }
  .app-header .menu .transition:after {
    top: 1.6em !important;
  }
  .app-header .menu .transition .item {
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 0 !important;
  }
  .app-header .menu .transition .item:last-child {
    border-bottom: none !important;
  }
  .app-header .menu .item {
    margin: 0 !important;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  }
  .app-header .menu .app-toggle {
    display: block !important;
  }
  .app-header .menu .app-toggle button {
    background-color: rgba(255, 255, 255, 0.15) !important;
    width: 30px;
    justify-content: center;
    height: 30px;
    border-radius: 0.28571429rem !important;
    border-bottom: none !important;
  }
}

.app-auth {
  height: calc(100vh - 70px) !important;
}
.app-auth .column {
  padding: 0 2rem !important;
  max-width: 450px;
}
.app-auth .column .form {
  text-align: left;
}
.app-auth .column .form .app-password .input {
  position: relative !important;
  display: flex;
  align-items: center;
}
.app-auth .column .form .app-password .input input {
  padding-right: 2.67142857em !important;
}
.app-auth .column .form .app-password .label {
  position: absolute;
  right: 0;
  color: #fff;
  background: none;
  height: 100%;
  padding: 0 !important;
  width: 2.67142857em;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 0;
}
.app-auth .column .form .app-password .label i {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  border-radius: 10em;
  height: 28px;
  box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.1) inset;
  color: #909090;
  transition: all 0.3s;
}
.app-auth .column .form .app-password .label i:hover, .app-auth .column .form .app-password .label i:active, .app-auth .column .form .app-password .label i:focus {
  background-color: rgba(0, 0, 0, 0.87);
  color: #fff;
}
.app-auth .column .form .pointing {
  margin: 0 auto;
}
.app-auth .column .form .error {
  margin-bottom: 0.25rem;
}

.app-profile .menu {
  min-height: 100vh !important;
}
.app-profile .menu .button.item {
  padding-left: 1.8rem !important;
}
.app-profile .menu .item:first-child {
  height: 150px !important;
  justify-content: center;
}
.app-profile .menu .item {
  border-radius: 0 !important;
  height: 50px;
  align-items: center;
  display: flex !important;
}
.app-profile .menu .item .icon {
  margin-right: 1rem !important;
}

/*# sourceMappingURL=App.css.map */
