* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif !important;
    white-space: pre-wrap !important;
}

i.icon {
    font-family: "Icons", "brand-icons", serif !important;
}

.ui.grid {
    margin: 0 !important;
}

.ui.segment {
    margin: 0 !important;
}

img {
    /*width: 100%;*/
    height: auto;
    display: block;
}

html,
body {
    white-space: inherit !important;
    height: auto !important;
}

body {
    /*font-size: 16px !important;*/
    width: 100% !important;
    min-width: 300px !important;
    overflow-x: hidden;
    background-image: linear-gradient(90deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%) !important;
}

body.scroll {
    overflow: hidden !important;
}